#parceria a{
    color: yellow;
    text-shadow: 5px 6px 5px purple;
}
#servico a{
    position: relative;
    right: 80px;
}
.par{
    border-radius: 1000px;
    box-shadow: 0px 0px 10px purple;
}