section {
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    padding: 30px 30px;
  }
  #section2{
    margin-top: 200px;
  }
  .equipe img{
    margin: 5px;
    width: 25%;
    border-radius: 15px;
    box-shadow: 2px 0px 20px rgb(4, 36, 111);
  }

  footer{
    top: 180px;
  }
  @media screen and (max-width: 763px){
    #section2{
        top: 330px;
      }
      .equipe img{
        width: 50%;
        flex-direction: column;
      }
  }