section {
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
    width: 100%;
  }
  #section2{
    position: relative;
    top: 140px;
  }
  .equipe img{
    margin: 5px;
    width: 25%;
    border-radius: 15px;
    box-shadow: 2px 0px 20px rgb(4, 36, 111);
  }

  footer{
    top: 180px;
  }
  @media screen and (max-width: 763px){
    #section2{
        position: relative;
        top: 280px;
      }
      .equipe img{
        width: 30%;
      }
      footer{
        top: 320px;
      }
  }