/* Conteudo do Sobre nós */
#sobre a{
    color: yellow;
    text-shadow: 5px 6px 5px purple;
}
#servico a{
    position: relative;
    right: 80px;
}
#equipe{
    display: flex;
    justify-content: space-around;
}

body{
    height: 100vh;
}
section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.giselly,.felipe,.days,.kaio{
    border-radius: 60px;
    border: 2px solid purple;
    margin: 20px;
}

.giselly:hover,.felipe:hover,.days:hover,:hover.kaio:hover{
    box-shadow: 0px 2px 10px yellow;
    transition: 600ms;
}
.frase{
    cursor: context-menu;
    font-family: 'Lobster Two', cursiva;
    font-size: 20px;
    color: white;
    text-shadow: 10px 2px 20px purple;
    position: fixed;
    top: 170px;
    width: 1920px;
    height: 80px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    box-shadow: 0px 2px 10px purple;
    background-color: #F0B7FF;
    transition: 1000ms;
}
.frase:hover{
    background-color: plum;
    box-shadow: 0px 2px 10px yellow;
    transition: 1000ms;
    color: black;
    text-shadow: 0px 1px 0px purple;
}

.img1,.img2,.img3,.img4{
    margin: 50px;
    box-shadow: 0px 2px 10px purple;
}

.img1{
    border: solid 4px black;
    height: 250px;
    width: 250px;
    border-radius: 1000px;
    background-image: url(../img/giselly.jpg);
    background-size: cover;
    background-position-y: 10px;
    background-position: 10px;
    background-position-x: -1px;
 }
 .img2{
    border: solid 4px black;
    height: 250px;
    width: 250px;
    border-radius: 1000px;
    background-image: url(../img/IMG-20230601-WA0023.jpg);
    background-color: black;
    background-size: cover;
    background-position-y: 10px;
    background-position: 10px;
    background-position-x: -1px;
 }
 .img3{
    border: solid 4px black;
    height: 250px;
    width: 250px;
    border-radius: 1000px;
    background-image: url(../img/days.jpg);
    background-size: cover;
    background-position-y: 10px;
    background-position: 10px;
    background-position-x: -1px;
 }
 .img4{
    border: solid 4px black;
    height: 250px;
    width: 250px;
    border-radius: 1000px;
    background-color: black;
    background-image: url(../img/Kaio\ perfil.png);
    background-size: cover;
    background-position-y: 10px;
    background-position: 10px;
    background-position-x: -1px;
 }

 #nomes{
    position: relative;
    top: 265px;
    left: 70px;
    font-size: 20px;
    font-family: 'Lobster Two';
 }

