/* Menu Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/fundo\ melhorado.jpg);
    background-size: cover;
    height: 100vh;
}
/*Parte adicional para a Edição da Home Page*/
html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container{
    width: 80vw;
    margin: 0 auto;
}
.header{
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: #F0B7FF;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 20px  purple;
    transition: 600ms;
}
.header:hover{
    background-color: plum;
    box-shadow: 0px 2px 10px yellow;
    border-bottom: 20px;
    border-radius: 0px 20px 0px 20px;
    transition: 600ms;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
}
h1{
    position: relative;
    right: 21%;
    font-family: 'Playball', cursiva;
    font-size: 2.3em;
    text-shadow: 4px 4px 5px palevioletred;
    transition: 600ms;
}
h1 a{
    text-decoration: none;
    color: purple;
}
h1:hover{
    color:darkmagenta;
    transition: all .2s linear;
    cursor:default;
    text-shadow: 4px 4px 5px yellow;
    transition: 600ms;
}
.menu ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: black;
    font-family: 'Lobster Two';
    font-size: 1.6em;
    position: relative;
    
    cursor: context-menu;
    text-shadow: 4px 4px 5px palevioletred;
    transition: 600ms;
}
.p1:hover a{
    color: yellow;
    transition: 500ms;
    text-shadow: 4px 4px 5px purple;
}
#sub-img{
    width: 6%;
    border-radius: 100px;
    box-shadow: 0px 0px 10px purple;
    background-color: #F0B7FF;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    bottom: 40px;
    transition: 600ms;
} 
#sub-img1{
    width: 6%;
    border-radius: 100px;
    box-shadow: 0px 0px 10px purple;
    background-color: #F0B7FF;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    bottom: 110px;
    transition: 600ms;
}
#sub-img:hover,#sub-img1:hover{
    background-color: plum;
    box-shadow: 5px 5px 8px yellow;
    border-radius: 0px 20px 0px 20px;
    transition: 600ms;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 100px);
}
/*Segundo Adicional para a Home Page*/
.main1{
    display: flex;
    justify-content:flex-start;
    margin-top: 70px;
    margin-left: 140px;
    font-size: 25px;
    text-shadow: 2px 1px 5px purple;
    cursor: context-menu;
}

.bx1{
    color:rgb(188, 7, 188);
}
footer {
    display: flex;
    justify-content: center;
}
.text-in{
    border: solid 2px purple;
    box-shadow: 0px 0px 10px purple;
    cursor: context-menu;
}
/*Edição da Home Page*/
section.introdução{
    height: calc(100%-200px);
    position: relative;
}
.edition{
    position: absolute;
    bottom: -380px;
    right: -300px;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color: #F0B7FF;
    box-shadow: 0px 0px 20px purple;
    transition: 600ms;
}
.edition:hover{
    background-color: plum;
    box-shadow: 0px 0px 20px yellow;
    transition: 600ms;
    
}
.copy a{
    display: flex;
    justify-content: center;
    position: relative;
    top: 28px;
    cursor: context-menu;
    color:black;
    text-decoration: none;
    font-family: 'Lobster Two';
    font-size: 15px;
    transition: 600ms;
    text-shadow: 0px 2px 10px purple;
}
.copy1 a{
    display: flex;
    justify-content: center;
    position: relative;
    top: -35px;
    cursor: context-menu;
    color:black;
    text-decoration: none;
    font-family: 'Lobster Two';
    font-size: 15px;
    transition: 600ms;
    text-shadow: 0px 2px 10px purple;
}
.copy a:hover{
    transition: 600ms;
    text-shadow: 0px 2px 10px yellow;
}
.copy1 a:hover{
    transition: 600ms;
    text-shadow: 0px 2px 10px yellow;
}

